/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul a,
nav .brand-logo {
  color: #444;
}

body {
    background-color: #FFF59D; /*yellow lighten-4*/
}

.top-navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 56px;
}

.top-nav-logo {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 4px;
    margin-top: 4px;
    overflow: hidden;
    width: 46px;
    height: 46px;
}

.top-nav-menu {
    position: fixed;
    left: 12px;
    top: 0;
    margin-left: 4px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    line-height:46px;
    font-size: 56px;
    display: block;
}

.nelsons_side-nav{
  background-color: #25a657;
  display: block;
  border-style: none;
  z-index: 1000;
}

.cabins_main{
  background-image: url(../assets/background4.jpg);
  background-attachment: fixed;
  background-size: 100%;
}

.cabin_card{
  /*margin:20px;*/
}

.cabins_page_container{
  background: rgba(255, 255, 255, 0.89);
  padding: 20px;
  margin: 40px;
}

p {
  line-height: 2rem;
}


@media only screen and (max-width : 992px) {
  header, body {
    padding-left: 0;
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
}

@media only screen and (min-width: 993px) {
  header, body {
    padding-left: 250px; /* Add left margin to avoid content overlay of sidenav */
    margin-top: 0px; 
  }
}

@media only screen and (max-width: 600px) {
  .main{
    padding-top: : 50px;
  }
}


.button-collapse {
  color: #25a657;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.primary-background {
  background-color: #25a657;
}

.contact-panel {
  position: absolute;
  background-color: rgba(100, 100, 100, .3);
  padding: 25px;
  width: 250px;
  left:100px;
  top :50px;
}

.contact-button-anchor {
  display: block; 
}

.contact-button {
  width: 200px;
}

.material-facebook-div{
  margin-bottom: 0px;
}

.material-facebook-button {
  padding: 0px, 25px;
  height: 36px;
  width: 200px;
  overflow: hidden;
}

.material-facebook-icon {
  margin-right: 46px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  height: 16px;
  width: 16px;
}

.navbar-list-item{
  display: block;
}

.navbar-anchor{
  display:block;
  height:100%;
  width:100%;
}

.navbar-external-page{
  background-color: #25a657;
  color: black;
}

.navbar-internal-page{
  background-color: #1a7a3f;
  color: white;
}

.nelsons-logo {
  margin-top: 8px;
  height: 48px;
  width: 48px;
}
